html {
  font-size: 16px
}

p, li {
  margin: 0;
  font-family: var("--font-noto-sans"), Roboto, Hlevetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h6 {
  font-family: var("--font-noto-sans"), 'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 22px;
}

.volunteer {
  line-height: 1.6;
}

.homepage {
  font-size: 21px;
}

.background-hp {
  background-color: #AFC0FF;
}
/* AFC0FF */
.maxwidth100 {
  max-width: 100% !important;
}

.normal-text {
  font-family: var("--font-noto-sans"), Roboto, Hlevetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold-header {
  font-weight: 700;
}